openapi: 3.0.0
info:
  title: Initiate a conversation API
  version: '1.0'
servers:
  - url: https://api.alcmeon.com
    description: Alcmeon production API server
x-readme:
  explorer-enabled: true

components:

  securitySchemes:
    basic_auth:
      $ref: 'shared-security.yaml#/components/securitySchemes/basic_auth'
    bearer_token:
      $ref: 'shared-security.yaml#/components/securitySchemes/bearer_token'

  schemas:
    ResponseError:
      type: object
      properties:
        error:
          type: string
          description: A short string explaining the reason of the error.
        details:
          type: string
          description: >
            A short string which describes what is wrong. Provide this string to 
            support@alcmeon.com if you wish to obtain more details about the problem.

    RateLimitResponseError:
      type: object
      properties:
        error:
          type: string
          description: Rate limit reached
        details:
          type: string
          description: >
            A string showing the time when the rate limit will be reset. Example:
            {'rate_limited_until': '2024-01-22T13:05:41Z'}

    RCSTemplate:
      type: object
      properties:
        id:
          type: integer
          description: The ID of the template.
          example: 1
        name:
          type: string
          description: The name of the template.
          example: "template_abc"
        language:
          type: string
          description: The language of the template.
          example: "en"
          enum: ["en", "fr"]
        title:
          type: string
          description: The title of the template.
          example: "This is the title of the template."
        body:
          type: string
          description: The body content of the template.
          example: "This is the content of the template."
        created_at:
          type: string
          format: date-time
          description: The creation date of the template.
          example: "2025-02-17T09:09:58"
        last_modified_at:
          type: string
          format: date-time
          description: The last modification date of the template.
          example: "2025-02-17T09:09:58"
        buttons:
          type: array
          description: The list of buttons of the template.
          items:
            type: object
            properties:
              type:
                type: string
                description: The type of the button.
                example: "url"
                enum: ["url", "quick-reply"]
              label:
                type: string
                description: The label of the button.
                example: "Button 1"
              quick-reply:
                type: string
                description: The quick reply of the button.
                example: "Button 1"
              url:
                type: string
                description: The URL of the button.
                example: "https://example.com"

    KKTTemplate:
      type: object
      properties:
        id:
          type: integer
          description: The ID of the template.
          example: 1
        name:
          type: string
          description: The name of the template.
          example: "template_abc"
        language:
          type: string
          description: The language of the template.
          example: "en"
          enum: ["en", "kr"]
        body:
          type: string
          description: The body content of the template.
          example: "This is the content of the template using {{variable}} in the body."
        created_at:
          type: string
          format: date-time
          description: The creation date of the template.
          example: "2025-02-17T09:09:58"
        last_modified_at:
          type: string
          format: date-time
          description: The last modification date of the template.
          example: "2025-02-17T09:09:58"
        status:
          type: string
          description: The status of the template.
          example: "approved"
          enum: ["approved", "rejected", "in_review"]
    Message:
      type: object
      properties:
        id:
          type: string
          description: The ID of the message.
          example: "5739d1c3-1897-4a92-a704-1a4fbd0b9da7"
        to:
          type: string
          description: The recipient of the message.
          example: "uid_abcdef"
        account:
          type: integer
          description: The account ID associated with the message.
          example: 123
        sender:
          type: integer
          description: The ID of the sender.
          example: 456
        sent_at:
          type: string
          format: date-time
          description: The timestamp when the message was sent.
          example: "2025-02-17T09:09:58"
        status:
          type: string
          description: The status of the message.
          example: "delivered"
          enum: ['sending', 'delivered', 'failed']
        content:
          type: string
          description: The content of the message.
          example: "This is the content of the message."

    SendKakaoTalkMessageRequest:
      type: object
      properties:
        to_user_phone_number:
          type: string
          description: The phone number of the user to send the message to (prefixed by the country code)
          example: "33123456789"
        account_id:
          type: integer
          description: The ID of the account sending the message.
          example: 1
        template_id:
          type: integer
          description: The ID of the template to use for the message.
          example: 1
        variables:
          type: object
          description: Optional variables to replace placeholders in the template.
          additionalProperties:
            type: string
          example:
            user_name: "John Doe"
            order_id: "12345"
      required:
        - to_user_phone_number
        - account_id
        - template_id

    SendKakaoTalkMessageResponse:
      type: object
      properties:
        status:
          type: string
          description: The status of the message sending operation.
          example: "ok"
        message_id:
          type: string
          description: The unique ID of the sent message.
          example: "5739d1c3-1897-4a92-a704-1a4fbd0b9da7"


    SendWhatsappMessageRequest:
      type: object
      properties:
        to_user_phone_number:
          type: string
          description: Recipient's phone number
          example: "1234567890"
        account_id:
          type: integer
          description: ID of the WhatsApp account in Alcmeon
          example: 12345
        template_id:
          type: integer
          description: ID of the WhatsApp template to send
          example: 98765
        variables:
          type: object
          description: Variables to replace in the template
          properties:
            body:
              type: object
              description: Variables for the message body. The keys are the placeholders labels as defined in the template body and the values are the values to replace them with.
              additionalProperties:
                type: string
              example:
                "name": "John"
                "product": "shoes"
            buttons:
              type: object
              description: Variables for template url buttons. The keys are the placeholders labels as defined in the template url button and the values are the values to replace them with.
              additionalProperties:
                type: string
              example:
                "website": "/mysite"
      required:
        - to_user_phone_number
        - account_id
        - template_id

    SendWhatsappMessageResponse:
      type: object
      properties:
        status:
          type: string
          description: The status of the message sending operation.
          example: "ok"
        message_id:
          type: string
          description: The unique ID of the sent message.
          example: "5739d1c3-1897-4a92-a704-1a4fbd0b9da7"

    SendRCSMessageRequest:
      type: object
      properties:
        to_user_phone_number:
          type: string
          description: Recipient's phone number
          example: "1234567890"
        account_id:
          type: integer
          description: ID of the WhatsApp account in Alcmeon
          example: 12345
        template_id:
          type: integer
          description: ID of the RCS template to send
          example: 98765
      required:
        - to_user_phone_number
        - account_id
        - template_id

    SendRCSMessageResponse:
      type: object
      properties:
        status:
          type: string
          description: The status of the message sending operation.
          example: "ok"
        message_id:
          type: string
          description: The unique ID of the sent message.
          example: "5739d1c3-1897-4a92-a704-1a4fbd0b9da7"

    SendRCSBulkRequest:
      type: object
      description: To send a bulk of RCS messages. We limit the number of sent to 1000 per bulk. 
          If you need to send more you can call this route as many time as you need by specifying the bulk_id returned as response; 
          in this way you will be able to group the users provided via different API calls to same bulk.
      properties:
        to_users:
          type: array
          items:
            type: object
            properties:
              phone_number:
                type: string
                description: The phone number of the user to send the message to (prefixed by the country code)
                example: "33123456789"
              variables:
                type: object
                description: Optional variables to replace placeholders in the template.
                additionalProperties:
                  type: string
                example:
                  user_name: "John Doe"
                  order_id: "12345"
            required:
              - phone_number
          description: Recipient phone numbers with optional variables. Max 1000 users are allowed.
          example: [{"phone_number": "53123456789", "variables": {"user_name": "John Doe", "order_id": "12345"}}, {"phone_number": "3387654321"}]
        account_id:
          type: integer
          description: ID of the WhatsApp account in Alcmeon
          example: 12345
        template_id:
          type: integer
          description: ID of the RCS template to send
          example: 98765
        send_date:
          type: string
          format: date-time
          description: The date and time when the message should be sent.
          example: "2025-02-17T09:09:58"
      required:
        - to_users
        - account_id
        - template_id

    SendRCSBulkResponse:
      type: object
      properties:
        status:
          type: string
          description: The status of the bulk sending operation.
          example: "ok"
        bulk_id:
          type: string
          description: The unique ID of the bulk.
          example: "5739d1c3-1897-4a92-a704-1a4fbd0b9da7"

    GetRCSBulkRequest:
      type: object
      properties:
        bulk_id:
          type: string
          description: ID of the bulk to retrieve.
          example: "5739d1c3-1897-4a92-a704-1a4fbd0b9da7"
      required:
        - bulk_id

    GetRCSBulkResponse:
      type: object
      properties:
        status:
          type: string
          description: The status of the bulk.
          example: "completed"
          enum:
            - "completed"
            - "in_progress"
            - "failed"
        bulk_id:
          type: string
          description: The unique ID of the bulk.
          example: "5739d1c3-1897-4a92-a704-1a4fbd0b9da7"
        total_number_of_users:
          type: integer
          description: Total number of users to send the message to, it is used to calculate the progress of the bulk.
            If multiple bulk have been used (because the total number of users is greater than 1000), the total is the sum of the users in each bulk.
          example: 1234
        progress:
          type: string
          description: Progress (percentage) of the bulk.
          example: "100%"
        sent_message_ids:
          type: array
          items:
            type: string
          description: List of message IDs which have been sent (no matter their status).
          example: [ "12345678", "875654321" ]


security:
  - basic_auth: []
  - bearer_token: []

tags:
  - name: Kakaotalk
  - name: Whatsapp
  - name: RCS

paths:
  /v1/kakaotalk/templates:
    post:
      summary: Get the list of Kakaotalk templates
      description: Retrieve a paginated list of Kakaotalk templates for a specific account using filters.
      tags:
        - Kakaotalk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account_id:
                  type: integer
                  description: The ID of the account to retrieve templates for.
                limit:
                  type: integer
                  default: 20
                  maximum: 100
                  description: The number of items to return (optional, default is 20).
                page:
                  type: integer
                  default: 0
                  description: The page number to return (optional, default is 0).
                status:
                  type: string
                  enum:
                    - "submitted"
                    - "in_review"
                    - "rejected"
                    - "accepted"
                  description: The status filter (optional).
                id:
                  type: integer
                  description: The ID filter (optional).
                created_at_range:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                      description: The start date for the creation range filter (optional). Format 2025-04-24 10:30:15
                    end:
                      type: string
                      format: date-time
                      description: The end date for the creation range filter (optional). Format 2025-04-24 10:30:15
                last_modified_at_range:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                      description: The start date for the last modified range filter (optional). Format 2025-04-24 10:30:15
                    end:
                      type: string
                      format: date-time
                      description: The end date for the last modified range filter (optional). Format 2025-04-24 10:30:15
              required:
                - account_id
      responses:
        '200':
          description: A list of Kakaotalk templates.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/KKTTemplate'
                  next_page:
                    type: integer
                    description: The next page number if more data is available.
        '400':
          description: If the input parameters are not valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: Rate limit reached. Default limit is set to 15 requests per minute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitResponseError'

  /v1/kakaotalk/messages:
    get:
      tags:
        - Kakaotalk
      summary: Get the list of Kakaotalk sent messages
      description: Retrieve a paginated list of Kakaotalk sent messages for a specific account.
      parameters:
        - name: limit
          in: query
          description: The number of messages to return per page.
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: page
          in: query
          description: The page number to retrieve.
          required: false
          schema:
            type: integer
            default: 0
        - name: account_id
          in: query
          description: The ID of the account to retrieve messages for.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: A list of Kakaotalk messages.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
                  next:
                    type: string
                    description: The URL for the next page of results, if available.
        '400':
          description: If the input parameters are not valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: Rate limit reached. Default limit is set to 15 requests per minute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitResponseError'
  
  /v1/kakaotalk/send/:
    post:
      tags:
        - Kakaotalk
      summary: Send a KakaoTalk message using a template
      description: Send a message using a predefined template to a specified user's phone number.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendKakaoTalkMessageRequest'
      responses:
        '200':
          description: Message sent successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendKakaoTalkMessageResponse'
        '400':
          description: If the input parameters are not valid or the template is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: Rate limit reached. Default limit is set to 15 requests per minute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitResponseError'
  /v1/whatsapp/send/:
    post:
      tags:
        - Whatsapp
      summary: Send a Whatsapp message using a template
      description: Send a message using a predefined template to a specified user's phone number.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendWhatsappMessageRequest'
      responses:
        '200':
          description: Message sent successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendWhatsappMessageResponse'
        '400':
          description: If the input parameters are not valid or the template is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: Rate limit reached. Default limit is set to 15 requests per minute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitResponseError'

  /v1/rcs/send/:
    post:
      tags:
        - RCS
      summary: Send a RCS message using a template
      description: Send a message using a predefined template to a specified user's phone number .
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendRCSMessageRequest'
      responses:
        '200':
          description: Message sent successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendRCSMessageResponse'
        '400':
          description: If the input parameters are not valid or the template is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: Rate limit reached. Default limit is set to 15 requests per minute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitResponseError'

  /v1/rcs/templates:
    post:
      summary: Get the list of RCS templates
      description: Retrieve a paginated list of RCS templates for a specific account using filters .
      tags:
        - RCS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account_id:
                  type: integer
                  description: The ID of the account to retrieve templates for.
                limit:
                  type: integer
                  default: 20
                  maximum: 100
                  description: The number of items to return (optional, default is 20).
                page:
                  type: integer
                  default: 0
                  description: The page number to return (optional, default is 0).
                id:
                  type: integer
                  description: The ID filter (optional).
                created_at_range:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                      description: The start date for the creation range filter (optional). Format 2025-04-24 10:30:15
                    end:
                      type: string
                      format: date-time
                      description: The end date for the creation range filter (optional). Format 2025-04-24 10:30:15
                last_modified_at_range:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                      description: The start date for the last modified range filter (optional). Format 2025-04-24 10:30:15
                    end:
                      type: string
                      format: date-time
                      description: The end date for the last modified range filter (optional). Format 2025-04-24 10:30:15
              required:
                - account_id
      responses:
        '200':
          description: A list of RCS templates.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RCSTemplate'
                  next_page:
                    type: integer
                    description: The next page number if more data is available.
        '400':
          description: If the input parameters are not valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: Rate limit reached. Default limit is set to 15 requests per minute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitResponseError'

  /v1/rcs/messages:
    get:
      tags:
        - RCS
      summary: Get the list of RCS sent messages
      description: Retrieve a paginated list of RCS sent messages for a specific account .
      parameters:
        - name: limit
          in: query
          description: The number of messages to return per page.
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: page
          in: query
          description: The page number to retrieve.
          required: false
          schema:
            type: integer
            default: 0
        - name: account_id
          in: query
          description: The ID of the account to retrieve messages for.
          required: true
          schema:
            type: integer
        - name: bulk_id
          in: query
          description: The ID of the bulk to retrieve messages for.
          required: false
          schema:
            type: string
            format: uuid

      responses:
        '200':
          description: A list of RCS messages.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
                  next:
                    type: string
                    description: The URL for the next page of results, if available.
        '400':
          description: If the input parameters are not valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: Rate limit reached. Default limit is set to 15 requests per minute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitResponseError'

  /v1/rcs/send/bulk:
    post:
      tags:
        - RCS
      summary: Send a RCS message to multiple users using a template
      description: Send a message using a predefined template to a list of user's phone number .
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendRCSBulkRequest'
      responses:
        '200':
          description: Message sent successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendRCSBulkResponse'
        '400':
          description: If the input parameters are not valid or the template is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: Rate limit reached. Default limit is set to 15 requests per minute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitResponseError'

  /v1/rcs/bulk/{bulk_id}:
    parameters:
      - in: path
        name: bulk_id
        description: The ID of the bulk you want retrieve information about
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - RCS
      summary: Retrieve information about a bulk
      description: Returns the status of a bulk. The status (completed, failed or in_progress) and how many messages have been already sent,
      responses:
        '200':
          description: Message sent successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRCSBulkResponse'
        '400':
          description: If the input parameters are not valid or the template is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: Rate limit reached. Default limit is set to 15 requests per minute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitResponseError'
